# Data Science Notebook

## Introduction
This notebook contains basic information about data science tools, languages, and libraries.

## Data Science Languages
- Python
- R
- SQL
- Julia
- Scala

## Data Science Libraries
- NumPy
- Pandas
- Matplotlib
- Scikit-Learn
- TensorFlow

## Data Science Tools

| Tool          | Description                                |
|---------------|--------------------------------------------|
| Jupyter       | Interactive computing environment          |
| RStudio       | IDE for R programming                      |
| Apache Spark  | Big data processing framework              |
| TensorFlow    | Machine learning library                   |
| Tableau       | Data visualization tool                    |

## Arithmetic Expression Examples
Below are examples of basic arithmetic operations.

In [8]:
# Multiplication and addition operations
multiplication = 5 * 7
addition = 5 + 7
multiplication, addition

(35, 12)

In [10]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
hours

2.0

## Goals
- Learn about data science tools
- Develop data visualization skills
- Understand machine learning models

## Author
Huseyin Topal